:root {
  --box-contain-width: 768px;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;

}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

h1 {
  margin-bottom: 1.325rem;
}

h2 {
  margin-top: 1em;
  margin-bottom: .5em;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  margin: 20px;
  width: 40%;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  width: var(--box-contain-width);
  height: var(--box-contain-width);
  border: 1px solid #ccc;
}

.box {
  height: calc(100% / 16);
  border: 1px solid #ccc;
  width: calc(100% / 16);
}

.fill {
  background-color: #bbb;
}
